.content {
    background-color: var(--primary-bg-color);
    position: relative;
}

.content .navigation {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.content .navigation .nav-icon {
    height: 60px;
    width: 60px;
    margin: 60px
}

.content .navigation .next {
    float: right;
}

.content .navigation .previous {
    float: left;
}