.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container > .content {
    flex: 1 100%;
    overflow: scroll;
}

.container > .footer{
    height: 47px;
    z-index: 100;
}