.picker-wrapper .popup-wrapper {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.picker-wrapper .popup-wrapper .popup-header {
    background-color: var(--primary-color);
    padding: 15px;
}

.picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper {
    padding: 15px;
}

.picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper .plant-name-search {
}

.picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper .plant-name-search h5 {
    float: left;
    display: block;
}

.picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper .plant{
}

.picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper h5, .picker-wrapper .popup-wrapper .popup-content .plant-item-wrapper h4 {
    padding: 0px;
    margin: 0px;
}
